/*
// This file is part of the Direwolf APRS Web Dashboard as available at https://github.com/PC7MM/Direwolf-APRS-Web-Dashboard
// Developed by Michael PC7MM and Richard PD3RFR as an extension of https://github.com/IZ7BOJ/direwolf_webstat and https://github.com/IZ7BOJ/APRS_dashboard as developed by Alfredo IZ7BOJ
// See config.php for adjustable parameters
*/

body {
 background-color: white;
}

.menu {
 overflow: hidden;
 position: fixed; 
 background-color: white;
 top: 0;
 width: 100%; 
 font-size: 12px;
 z-index: 1;
}

.page {
 margin-top: 160px;
 font-size: 12px;
}

.normaltable {
 border-collapse: collapse;
}

th {
  background-color: orange;
  vertical-align: top;
  border: 1px solid black;
  color: black;
 }

td {
  text-align: center;
  vertical-align: top;
  border: 1px solid black;
  color: black;
 }

.framestable {
 width: 100%;
}

.indextable {
 width: 60%
 }

.igatetable {
 width: 60%
 }

.systemtable {
 width: 30%;
}

.traffic {
  margin-left: auto;
  margin-right: auto;
}

.station, .frames
 a:link {
  font-weight: bold;
  color: black;
}

.static {
 color: purple;
}

.moving {
 color: orange;
}

.digidirect {
 color: blue;
}

.direct {
 color: red;
}

.digi {
 color: green;
}

.menu a:link, a:visited {
 background-color: #e8e8e8;
 color: black;
 padding: 5px 5px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 border-radius: 5px;
}

.menu a:hover, a:active {
 background-color: orange;
}

a:link, a:visited {
  text-decoration: underline;
  color: black; 
}

a:hover, a:active {
 text-decoration: underline;
 background-color: orange;
 color: black;
}

.fileshrinked {
 background-color: red;
 color: white;
 font-weight: bold;
}

.fileupdated {
 background-color: green;
 color: white;
 font-weight: bold;
}

.startedlogging {
 background-color: blue;
 color: white;
 font-weight: bold;
}

.checkboxline {
 background-color: white;
 position: fixed;
 width: 100%;
 left: 50%;
 transform: translate(-50%);
 text-align: center;
 top: 150px;
}

.notrunning {
 font-weight: bold;
 color: red;
}

.running {
 font-weight: bold;
 color: green;
}

.aprspath {
 font-weight: bold;
 color: blue;
}

a.linkbutton {
 background-color: #e8e8e8;
 color: black;
 padding: 1px 5px;
 margin-left: 4px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 border-radius: 5px;
 border: 1px solid black;
 font-size: 11px;
 font-weight: bold;
}

a.linkbutton:hover, a.linkbutton:active {
 background-color: orange;
 text-decoration: none;
}

.aprsisobject {
 border: 1px solid black;
 width: 75%;
 height: calc(100vh - 275px);
}

.aprsmapobject {
 border: 1px solid black;
 width: 60%;
 height: calc(100vh - 350px);
}

.console {
 font-family: Courier New;
 white-space: pre;
}
